<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Dora (GSAP ScrollTrigger) (Golden Ratio Grid) (Architecture Website Concept) Created By iCodeAyush."
    />
    <meta name="author" content="Ayush Shukla" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="./static/style.css" />
  </head>
  <body>
    <div id="wrapper" class="landingPage">
      <a id="logo" href="#wrapper">
        <h1>Project</h1>
      </a>
      <nav class="DisplayNone">
        <a href=""><span>links</span></a>
        <a href="#"><span>Docs</span></a>
        <a href="./main.html"><span>Demo</span></a>
        <span>:)</span>
      </nav>
      <section>
        <h1><span>Project</span></h1>
        <p><span>A Caption Generation App</span></p>
      </section>

      <div id="d">
        <p>ML</p>
      </div>

      <div id="ScrollDown">
        <p><a href="./main.html">Try it Out</a></p>
      </div>
    </div>

    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js?r=5426"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js"></script>
    <script src="./static/script.js"></script>
  </body>
</html>
